In [ ]:
%%classpath add mvn
tech.tablesaw tablesaw-parent 0.37.0

In [20]:
//import data 12181641.csv ke dataframe

import tech.tablesaw.api.*;

tech.tablesaw.beakerx.TablesawDisplayer.register();
Table  dfSmallgrade= Table.read().csv("12181641.csv");
System.out.println(dfSmallgrade.structure());
System.out.println(dfSmallgrade.shape());
System.out.println(dfSmallgrade.first(5));
System.out.println(dfSmallgrade.last(5));
System.out.println(dfSmallgrade.print());

        Structure of 12181641.csv
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |           _id  |      INTEGER  |
     1  |           idx  |      INTEGER  |
     2  |        series  |       STRING  |
     3  |  kode_wilayah  |      INTEGER  |
     4  |       wilayah  |       STRING  |
     5  |         tahun  |      INTEGER  |
     6  |      triwulan  |       STRING  |
     7  |         bulan  |       STRING  |
     8  |       tanggal  |       STRING  |
     9  |         nilai  |       DOUBLE  |
    10  |        target  |       STRING  |
172 rows X 11 cols
                                                                       12181641.csv
 _id  |  idx  |             series             |  kode_wilayah  |     wilayah      |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
----------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |       Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |            ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |  SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |  SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |            RIAU  |   2008  |            |         |           |    13729.2  |          |
                                                                   12181641.csv
 _id  |  idx  |             series             |  kode_wilayah  |   wilayah    |  tahun  |  triwulan  |  bulan  |  tanggal  |  nilai  |  target  |
--------------------------------------------------------------------------------------------------------------------------------------------------
 168  |  167  |  Luas Lahan yang Dibakar (Ha)  |          2101  |     KARIMUN  |   2008  |            |         |           |     26  |          |
 169  |  168  |  Luas Lahan yang Dibakar (Ha)  |          2102  |      BINTAN  |   2008  |            |         |           |     19  |          |
 170  |  169  |  Luas Lahan yang Dibakar (Ha)  |          2103  |      NATUNA  |   2008  |            |         |           |   1375  |          |
 171  |  170  |  Luas Lahan yang Dibakar (Ha)  |          2104  |      LINGGA  |   2008  |            |         |           |  183.8  |          |
 172  |  171  |  Luas Lahan yang Dibakar (Ha)  |          2171  |  KOTA BATAM  |   2008  |            |         |           |     26  |          |
                                                                            12181641.csv
 _id  |  idx  |             series             |  kode_wilayah  |           wilayah           |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |                  Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |                       ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |             SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |             SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |                       RIAU  |   2008  |            |         |           |    13729.2  |          |
   6  |    5  |  Luas Lahan yang Dibakar (Ha)  |            15  |                      JAMBI  |   2008  |            |         |           |    11264.7  |          |
   7  |    6  |  Luas Lahan yang Dibakar (Ha)  |            16  |           SUMATERA SELATAN  |   2008  |            |         |           |    39692.5  |          |
   8  |    7  |  Luas Lahan yang Dibakar (Ha)  |            17  |                   BENGKULU  |   2008  |            |         |           |     7676.7  |          |
   9  |    8  |  Luas Lahan yang Dibakar (Ha)  |            18  |                    LAMPUNG  |   2008  |            |         |           |    56679.1  |          |
  10  |    9  |  Luas Lahan yang Dibakar (Ha)  |            19  |  KEPULAUAN BANGKA BELITUNG  |   2008  |            |         |           |     7790.3  |          |
 ...  |  ...  |                           ...  |           ...  |                        ...  |    ...  |       ...  |    ...  |      ...  |        ...  |     ...  |
 163  |  162  |  Luas Lahan yang Dibakar (Ha)  |          1903  |               BANGKA BARAT  |   2008  |            |         |           |     2545.3  |          |
 164  |  163  |  Luas Lahan yang Dibakar (Ha)  |          1904  |              BANGKA TENGAH  |   2008  |            |         |           |       1016  |          |
 165  |  164  |  Luas Lahan yang Dibakar (Ha)  |          1905  |             BANGKA SELATAN  |   2008  |            |         |           |       1090  |          |
 166  |  165  |  Luas Lahan yang Dibakar (Ha)  |          1906  |             BELITUNG TIMUR  |   2008  |            |         |           |       66.5  |          |
 167  |  166  |  Luas Lahan yang Dibakar (Ha)  |          1971  |        KOTA PANGKAL PINANG  |   2008  |            |         |           |             |          |
 168  |  167  |  Luas Lahan yang Dibakar (Ha)  |          2101  |                    KARIMUN  |   2008  |            |         |           |         26  |          |
 169  |  168  |  Luas Lahan yang Dibakar (Ha)  |          2102  |                     BINTAN  |   2008  |            |         |           |         19  |          |
 170  |  169  |  Luas Lahan yang Dibakar (Ha)  |          2103  |                     NATUNA  |   2008  |            |         |           |       1375  |          |
 171  |  170  |  Luas Lahan yang Dibakar (Ha)  |          2104  |                     LINGGA  |   2008  |            |         |           |      183.8  |          |
 172  |  171  |  Luas Lahan yang Dibakar (Ha)  |          2171  |                 KOTA BATAM  |   2008  |            |         |           |         26  |          |

null

In [21]:
//import data 12181641.json ke dataframe

import tech.tablesaw.api.*;
import tech.tablesaw.io.json.*;

tech.tablesaw.beakerx.TablesawDisplayer.register();
JsonReader reader = new JsonReader();
JsonReadOptions fileJSON = JsonReadOptions.builder("12181641.json").build();
Table tabeljson = reader.read(fileJSON);
System.out.println(tabeljson.structure());
System.out.println(tabeljson.print());

//export data 12181641.json ke lahandibakar.csv
tabeljson.write().csv("lahandibakar.csv");

        Structure of 12181641.json
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |  kode_wilayah  |      INTEGER  |
     1  |         tahun  |      INTEGER  |
     2  |        series  |       STRING  |
     3  |         nilai  |       DOUBLE  |
     4  |           _id  |      INTEGER  |
     5  |       wilayah  |       STRING  |
     6  |       tanggal  |       STRING  |
     7  |           idx  |      INTEGER  |
     8  |         bulan  |       STRING  |
     9  |      triwulan  |       STRING  |
    10  |        target  |       STRING  |
                                                                        12181641.json
 kode_wilayah  |  tahun  |             series             |  nilai   |  _id  |        wilayah         |  tanggal  |  idx  |  bulan  |  triwulan  |  target  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------
         2172  |   2008  |  Luas Lahan yang Dibakar (Ha)  |          |  173  |   KOTA TANJUNG PINANG  |           |  172  |         |            |          |
         3101  |   2008  |  Luas Lahan yang Dibakar (Ha)  |          |  174  |      KEPULAUAN SERIBU  |           |  173  |         |            |          |
         3171  |   2008  |  Luas Lahan yang Dibakar (Ha)  |          |  175  |  KOTA JAKARTA SELATAN  |           |  174  |         |            |          |
         3172  |   2008  |  Luas Lahan yang Dibakar (Ha)  |          |  176  |    KOTA JAKARTA TIMUR  |           |  175  |         |            |          |
         3173  |   2008  |  Luas Lahan yang Dibakar (Ha)  |          |  177  |    KOTA JAKARTA PUSAT  |           |  176  |         |            |          |
         3174  |   2008  |  Luas Lahan yang Dibakar (Ha)  |          |  178  |    KOTA JAKARTA BARAT  |           |  177  |         |            |          |
         3175  |   2008  |  Luas Lahan yang Dibakar (Ha)  |          |  179  |    KOTA JAKARTA UTARA  |           |  178  |         |            |          |
         3201  |   2008  |  Luas Lahan yang Dibakar (Ha)  |   208.8  |  180  |                 BOGOR  |           |  179  |         |            |          |
         3202  |   2008  |  Luas Lahan yang Dibakar (Ha)  |   348.2  |  181  |              SUKABUMI  |           |  180  |         |            |          |
         3203  |   2008  |  Luas Lahan yang Dibakar (Ha)  |  2212.6  |  182  |               CIANJUR  |           |  181  |         |            |          |
          ...  |    ...  |                           ...  |     ...  |  ...  |                   ...  |      ...  |  ...  |    ...  |       ...  |     ...  |
         6471  |   2008  |  Luas Lahan yang Dibakar (Ha)  |    37.6  |  380  |       KOTA BALIKPAPAN  |           |  379  |         |            |          |
         6472  |   2008  |  Luas Lahan yang Dibakar (Ha)  |          |  381  |        KOTA SAMARINDA  |           |  380  |         |            |          |
         6473  |   2008  |  Luas Lahan yang Dibakar (Ha)  |    30.9  |  382  |          KOTA TARAKAN  |           |  381  |         |            |          |
         6474  |   2008  |  Luas Lahan yang Dibakar (Ha)  |          |  383  |          KOTA BONTANG  |           |  382  |         |            |          |
         7101  |   2008  |  Luas Lahan yang Dibakar (Ha)  |  1413.2  |  384  |     BOLAANG MONGONDOW  |           |  383  |         |            |          |
         7102  |   2008  |  Luas Lahan yang Dibakar (Ha)  |     154  |  385  |              MINAHASA  |           |  384  |         |            |          |
         7103  |   2008  |  Luas Lahan yang Dibakar (Ha)  |   151.6  |  386  |     KEPULAUAN SANGIHE  |           |  385  |         |            |          |
         7104  |   2008  |  Luas Lahan yang Dibakar (Ha)  |   370.3  |  387  |      KEPULAUAN TALAUD  |           |  386  |         |            |          |
         7105  |   2008  |  Luas Lahan yang Dibakar (Ha)  |   175.5  |  388  |      MINAHASA SELATAN  |           |  387  |         |            |          |
         7106  |   2008  |  Luas Lahan yang Dibakar (Ha)  |  1006.3  |  389  |        MINAHASA UTARA  |           |  388  |         |            |          |

null

In [22]:
//soal no.1 menggabungkan data 12181641.csv dan 12181641.json

import static tech.tablesaw.aggregate.AggregateFunctions.*;
import tech.tablesaw.api.*;

tech.tablesaw.beakerx.TablesawDisplayer.register();
Table  data1= Table.read().csv("12181641.csv");
Table  data2= Table.read().csv("lahandibakar.csv");

Table datagabung = data1.append(data2);
System.out.print(datagabung.print());

//export dataframe datagabung ke fulllahandibakar.csv
datagabung.write().csv("lahandibakarfull.csv");

                                                                            12181641.csv
 _id  |  idx  |             series             |  kode_wilayah  |           wilayah           |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |                  Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |                       ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |             SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |             SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |                       RIAU  |   2008  |            |         |           |    13729.2  |          |
   6  |    5  |  Luas Lahan yang Dibakar (Ha)  |            15  |                      JAMBI  |   2008  |            |         |           |    11264.7  |          |
   7  |    6  |  Luas Lahan yang Dibakar (Ha)  |            16  |           SUMATERA SELATAN  |   2008  |            |         |           |    39692.5  |          |
   8  |    7  |  Luas Lahan yang Dibakar (Ha)  |            17  |                   BENGKULU  |   2008  |            |         |           |     7676.7  |          |
   9  |    8  |  Luas Lahan yang Dibakar (Ha)  |            18  |                    LAMPUNG  |   2008  |            |         |           |    56679.1  |          |
  10  |    9  |  Luas Lahan yang Dibakar (Ha)  |            19  |  KEPULAUAN BANGKA BELITUNG  |   2008  |            |         |           |     7790.3  |          |
 ...  |  ...  |                           ...  |           ...  |                        ...  |    ...  |       ...  |    ...  |      ...  |        ...  |     ...  |
 380  |  379  |  Luas Lahan yang Dibakar (Ha)  |          6471  |            KOTA BALIKPAPAN  |   2008  |            |         |           |       37.6  |          |
 381  |  380  |  Luas Lahan yang Dibakar (Ha)  |          6472  |             KOTA SAMARINDA  |   2008  |            |         |           |             |          |
 382  |  381  |  Luas Lahan yang Dibakar (Ha)  |          6473  |               KOTA TARAKAN  |   2008  |            |         |           |       30.9  |          |
 383  |  382  |  Luas Lahan yang Dibakar (Ha)  |          6474  |               KOTA BONTANG  |   2008  |            |         |           |             |          |
 384  |  383  |  Luas Lahan yang Dibakar (Ha)  |          7101  |          BOLAANG MONGONDOW  |   2008  |            |         |           |     1413.2  |          |
 385  |  384  |  Luas Lahan yang Dibakar (Ha)  |          7102  |                   MINAHASA  |   2008  |            |         |           |        154  |          |
 386  |  385  |  Luas Lahan yang Dibakar (Ha)  |          7103  |          KEPULAUAN SANGIHE  |   2008  |            |         |           |      151.6  |          |
 387  |  386  |  Luas Lahan yang Dibakar (Ha)  |          7104  |           KEPULAUAN TALAUD  |   2008  |            |         |           |      370.3  |          |
 388  |  387  |  Luas Lahan yang Dibakar (Ha)  |          7105  |           MINAHASA SELATAN  |   2008  |            |         |           |      175.5  |          |
 389  |  388  |  Luas Lahan yang Dibakar (Ha)  |          7106  |             MINAHASA UTARA  |   2008  |            |         |           |     1006.3  |          |

null

In [23]:
//Soal no 2. Analisis Data

import static tech.tablesaw.aggregate.AggregateFunctions.*;
import tech.tablesaw.api.*;

tech.tablesaw.beakerx.TablesawDisplayer.register();
Table  dataFull= Table.read().csv("lahandibakarfull.csv");

System.out.println(dataFull.print());
System.out.println();

//menampilkan jumlah baris yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", count).apply());
System.out.println();

//menampilkan jumlah total yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", sum).apply());
System.out.println();

//menampilkan data terbesar yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", max).apply());
System.out.println();

//menampilkan data terkecil yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", min).apply());
System.out.println();

//menampilkan nilai tengah yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", median).apply());
System.out.println();

//menampilkan nilai simpangan baku yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", standardDeviation).apply());
System.out.println();

//menampilkan nilai variance yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", variance).apply());
System.out.println();

//menampilkan sebaran nilai range yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", range).apply());
System.out.println();


//menampilkan seluruh summary yang ada di dataframe pada kolom "Pendapatan"
System.out.println(dataFull.summarize("nilai", count, sum, max, min, mean, range, median, variance, standardDeviation).apply());
System.out.println();

//menampilkan seluruh summary yang ada di dataframe
System.out.println(dataFull.column("nilai").summary().print());
System.out.println();

                                                                        lahandibakarfull.csv
 _id  |  idx  |             series             |  kode_wilayah  |           wilayah           |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |                  Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |                       ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |             SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |             SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |                       RIAU  |   2008  |            |         |           |    13729.2  |          |
   6  |    5  |  Luas Lahan yang Dibakar (Ha)  |            15  |                      JAMBI  |   2008  |            |         |           |    11264.7  |          |
   7  |    6  |  Luas Lahan yang Dibakar (Ha)  |            16  |           SUMATERA SELATAN  |   2008  |            |         |           |    39692.5  |          |
   8  |    7  |  Luas Lahan yang Dibakar (Ha)  |            17  |                   BENGKULU  |   2008  |            |         |           |     7676.7  |          |
   9  |    8  |  Luas Lahan yang Dibakar (Ha)  |            18  |                    LAMPUNG  |   2008  |            |         |           |    56679.1  |          |
  10  |    9  |  Luas Lahan yang Dibakar (Ha)  |            19  |  KEPULAUAN BANGKA BELITUNG  |   2008  |            |         |           |     7790.3  |          |
 ...  |  ...  |                           ...  |           ...  |                        ...  |    ...  |       ...  |    ...  |      ...  |        ...  |     ...  |
 380  |  379  |  Luas Lahan yang Dibakar (Ha)  |          6471  |            KOTA BALIKPAPAN  |   2008  |            |         |           |       37.6  |          |
 381  |  380  |  Luas Lahan yang Dibakar (Ha)  |          6472  |             KOTA SAMARINDA  |   2008  |            |         |           |             |          |
 382  |  381  |  Luas Lahan yang Dibakar (Ha)  |          6473  |               KOTA TARAKAN  |   2008  |            |         |           |       30.9  |          |
 383  |  382  |  Luas Lahan yang Dibakar (Ha)  |          6474  |               KOTA BONTANG  |   2008  |            |         |           |             |          |
 384  |  383  |  Luas Lahan yang Dibakar (Ha)  |          7101  |          BOLAANG MONGONDOW  |   2008  |            |         |           |     1413.2  |          |
 385  |  384  |  Luas Lahan yang Dibakar (Ha)  |          7102  |                   MINAHASA  |   2008  |            |         |           |        154  |          |
 386  |  385  |  Luas Lahan yang Dibakar (Ha)  |          7103  |          KEPULAUAN SANGIHE  |   2008  |            |         |           |      151.6  |          |
 387  |  386  |  Luas Lahan yang Dibakar (Ha)  |          7104  |           KEPULAUAN TALAUD  |   2008  |            |         |           |      370.3  |          |
 388  |  387  |  Luas Lahan yang Dibakar (Ha)  |          7105  |           MINAHASA SELATAN  |   2008  |            |         |           |      175.5  |          |
 389  |  388  |  Luas Lahan yang Dibakar (Ha)  |          7106  |             MINAHASA UTARA  |   2008  |            |         |           |     1006.3  |          |

lahandibakarfull.csv summary
 Count [nilai]  |
-----------------
           304  |

lahandibakarfull.csv summary
 Sum [nilai]  |
---------------
   5479717.6  |

lahandibakarfull.csv summary
 Max [nilai]  |
---------------
   1857348.3  |

lahandibakarfull.csv summary
 Min [nilai]  |
---------------
         0.3  |

lahandibakarfull.csv summary
 Median [nilai]  |
------------------
          696.8  |

lahandibakarfull.csv summary
 Std. Deviation [nilai]  |
--------------------------
       143475.317048432  |

lahandibakarfull.csv summary
  Variance [nilai]   |
----------------------
 20585166602.148083  |

lahandibakarfull.csv summary
 Range [nilai]  |
-----------------
       1857348  |

                                                                         lahandibakarfull.csv summary
 Count [nilai]  |  Sum [nilai]  |  Max [nilai]  |  Min [nilai]  |     Mean [nilai]     |  Range [nilai]  |  Median [nilai]  |   Variance [nilai]   |  Std. Deviation [nilai]  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
           304  |    5479717.6  |    1857348.3  |          0.3  |  18025.386842105272  |        1857348  |           696.8  |  20585166602.148083  |        143475.317048432  |

      Column: nilai
 Measure   |    Value    |
--------------------------
        n  |        389  |
      sum  |             |
     Mean  |             |
      Min  |        0.3  |
      Max  |  1857348.3  |
    Range  |    1857348  |
 Variance  |             |
 Std. Dev  |             |

null

In [25]:
//renderhtml
%%html

In [27]:
import tech.tablesaw.api.Table;
import tech.tablesaw.plotly.Plot;
import tech.tablesaw.plotly.components.Figure;
import tech.tablesaw.plotly.components.Layout;
import tech.tablesaw.plotly.traces.HistogramTrace;


    Table dataFull = Table.read().csv("lahandibakarfull.csv");

    Layout layout = Layout.builder().title("Nilai Pembakaran Lahan pada Wilayah").build();

    HistogramTrace trace = HistogramTrace.builder((dataFull.nCol("nilai")),(dataFull.nCol("wilayah"))).build();

    Plot.show(new Figure(layout, trace));

null

In [32]:
import tech.tablesaw.api.Table;
import tech.tablesaw.plotly.Plot;
import tech.tablesaw.plotly.components.Figure;
import tech.tablesaw.plotly.components.Layout;
import tech.tablesaw.plotly.traces.BarTrace;

Object[] x = {"sheep", "cows", "fish", "tree sloths"};
double[] y = {1, 4, 9, 16};

BarTrace trace = BarTrace.builder(x, y).build();
Plot.show(new Figure(trace));

null